* {
    box-sizing: border-box;
    
}

body {
    font-family: 'PF Din Display Pro';
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
a   {
    display: inline-block;
    text-decoration: none;
}